table {
    width: 80%;
    border: 1px solid #D6E1C7;
    border-radius: 20px;
}

thead {
    margin-top: -20px;
    background-color: #D6E1C7;
}

.btn {
    border: 0 none;
    font-weight: 700;
}

.btn-primary {
    background-color: #026d4b;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #D6E1C7;
    color: #000;
}

.btn-primary:active, .btn-primary.active {
    background: #0b6d3f;
    box-shadow: none;
}